.footer{
    background-color: #000;
    padding: 4em;

    &__nav{
        margin-top: 1em;
    }

    &__flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__socialLinks{
        display: flex;
        align-items: center;
        gap: 1em;
        justify-content: right;
    }

    &__right{
        margin-bottom: 1em;
    }

}