@import './vars.less';

.header {
    background-image: url(../../build/images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: multiply;
    padding: 65px 165px;
    

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10em;
    }

    &__title{
        max-width: 900px;
        padding: 1em;
        font-size: 3em;
        margin-bottom: 3em ;
        border: 3px solid @colorWhite;
        
        h1{
            font-family: "Josefin Sans", sans-serif;
            font-weight: 300;
            text-transform: uppercase;
            color: @colorWhite;
        }
    }
}

.nav{
    &__list{
        display: grid;
        grid-template-columns: repeat(5, minmax(min-content, min-content));
        grid-gap: 32px;
        list-style: none;

        a{
            text-decoration: none;
            color: @colorWhite;
            font-family: "Alata", sans-serif;
            display: inline-block;

        }
    }
}


