@media (max-width: 1300px) {
    .container{
        width: 90%;
    }

    .header{

        // padding: 0;
        
        &__container{
            
            padding: 2em;
        }

        &__title{
            max-width: 600px;
            padding: 1em;
            font-size: 2em;
            margin-bottom: 3em ;
            border: 3px solid @colorWhite;
            text-align: center;
        
            h1{
                font-family: "Josefin Sans", sans-serif;
                font-weight: 300;
                text-transform: uppercase;
                color: @colorWhite;
                text-align: left;
            }
        }
    }



    // section about
    .about{
        
       display: flex;
       flex-direction: column;
       align-items: center;

       &__img{
        // width: 100%;
        text-align: center;

       }

        &__text{
            position: static;
            text-align: center;
        }
    }



    // section creators
    .creators{

        &__more{
            flex-direction: column;
            gap: 2em;
        }
    }

    .product__grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) ) ;
        grid-template-rows: auto;
        grid-gap: 2em;
        place-content: center;
    }

}






@media (max-width: 1200px) {
    // estilizando o btn da section creators
    .creators{

        text-align: center;

        .btn{
            position: static;
            margin-top: 3em;
        }
    }


    // estilizando o footer
    .footer{
        text-align: center;

        &__flex{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .nav__list{
            display: block;

            li a{
                margin-bottom: 1em;
            }
        }

        &__right{
            text-align: center;
        }

        &__socialLinks{
            margin-top: 2em;
            justify-content: center;

        }
    }


}